# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# Project
uploads/
*.pdf
Miniconda3-latest-Linux-x86_64.sh

# Git
.DS_Store
.codex
